/* Estilos básicos */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--background);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar.scrolled {
  top: auto;
  bottom: 2%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 10px 0;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  color: var(--contrast);
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar.scrolled .nav-links a {
  color: var(--white);
}

.navbar.scrolled .nav-links a:hover {
  color: var(--theme);
}

.nav-links a:hover {
  color: var(--theme);
}

@media (max-width: 767px) {
}
